@import url('https://fonts.googleapis.com/css?family=Raleway:700')

html, body
  padding: 0
  margin: 0

header
  text-align: center
  p
    box-shadow: 1px 1px 3px grey

    font-family: 'Raleway', sans-serif
    font-size: 3em

    margin: 0 0 15px 0
    padding: 10px 0 10px 0

div#app
  margin-top: 50%
  transform: translate(0, -50%)

@media (orientation: landscape)
  div#app
    margin-top: 0
    transform: none

input.text
  display: inline-block
  width: calc(100% - 1vw)
  border: 0
  border-bottom: 1.5px solid #dcdcdc

  padding: 0.5vw

  font-size: 1.5em

  &:focus
    outline: none

select.modifier
  display: inline-block
  width: 100%
  height: 35px
  border: none 

  font-size: 1em
  background-color: white 

  border-style: solid
  border-color: #dcdcdc
  border-width: 0px 0px 2px 0px
  outline: none
  
  margin: 0
  padding: 0

p.modified-text
  max-height: 20vh
  display: block

  overflow-x: hidden
  overflow-y: scroll

  padding: 0.5vw

button.copy
  display: block
  width: 100%

  outline: none

  border-style: solid
  border-width: 2px 0px 2px 0px
  border-color: #dcdcdc

  $radius: 15px
  border-bottom-right-radius: $radius
  border-bottom-left-radius: $radius

  background-color: white

  font-size: 1em
  font-family: 'Raleway', sans-serif
  text-transform: uppercase

  transition: font-size, 0.5s

  &:hover
    font-size: 1.1em

