@import url('https://fonts.googleapis.com/css?family=Raleway:700')

html, body
  padding: 0
  margin: 0

// Header styles
header
  text-align: center
  p
    box-shadow: 1px 1px 3px grey

    font-family: 'Raleway', sans-serif
    font-size: 3em

    margin: 0 0 15px 0
    padding: 10px 0 10px 0

input#text
  display: inline-block
  width: 100vw
  border: 0
  border-bottom: 1.5px solid black

  margin-top: 5vw
  padding: 0.3em

  font-size: 1.5em

  &:focus
    outline: none

select
  display: inline-block
  width: 100vw

  margin: 0
  padding: 0

